
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tj1 {
  min-width: 364px;
  height: 82px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #303030;
  border: 1px solid black;
  border-radius: 5px;
  cursor:pointer
}

.tj1:hover {
  background-color: #515050;
  transition: 700ms;
}

.tj2 {
    width: 210px;
    height: 305px;
    display: flex;
    flex-direction: column;
    background-color: #171717;
    border: 1px solid black;
    border-radius: 5px;
    padding:14px;
    cursor:pointer
}

.tj2:hover {
  background-color: #262626;
  transition: 700ms;
}

.btn-invisible {
  display: none;
}

.btn-visible1 {
  display:flex;
  padding: 10px;
  z-index: 10;
  margin-left: 30px;
}

.btnPausa{
  z-index: 10;
  margin-left: 35px;
}


.btn-visible2 {
  width: 50px;
  height: auto;
  position: relative;
  bottom:60px;
  left:118px;
}

.btnPausa2{
  width: 60px;
  height: auto;
  position: relative;
  bottom:65px;
  left:113px;
}